# Data Types
Every value in python has a data type. Since everything is an object in Python programming ,data types are actually clasees and variables are instance (object) of these classes.

# Numbers 
Integers, floating point numbers and complex numbers falls under Pyhton numbers category.They are defined as int,float and complex class in Pyhton.

We can use the type() function to know which class a variable or a value belongs to and the isinstance() function checks if an object belongs to a particular class.

In [1]:
a = 5
print(a,"is of type ",type(a))

5 is of type  <class 'int'>

In [2]:
a=2.5
print(a,"is of type",type(a))

2.5 is of type <class 'float'>

In [3]:
a=1+2j
print(a,"is a complex number?")
print(isinstance(1+2j,complex))
print(type(a))

(1+2j) is a complex number?
True
<class 'complex'>

# Boolean
Boolean representes the truth values False and True

In [4]:
a=True
print(type(a))

<class 'bool'>

# Python Strings
String is sequence of Unicode Characters.

We can use **single quotes** or **double quotes** to represent strings.

Multi-line strings can be denoted using **triple quotes**,**""" or """**

A string in Python consists of a series or sequence of Characters - **letter,number,and special characters**.

**String can be indexed** - often synonymously called **subscripted** as well.

Similar to C, the first character of a string has Index **0**.

In [5]:
a='Swayam Terode'
print(a)

Swayam Terode

In [6]:
Str="""Swayam Terode
        learns Python"""
print(Str)
print(type(Str))

Swayam Terode
        learns Python
<class 'str'>

In [7]:
print("Fist String Char is:",Str[0])
print("Last String Char is:",Str[-1])
#last char s(len(s)-1 or s[-1])

Fist String Char is: S
Last String Char is: n

In [8]:
print("Last String Char is:",Str[len(Str)-1])

Last String Char is: n

**Last char can be accessed by - s(len(s)-1 or s[-1])**

# Slicing

In [9]:
Str[5:]

'm Terode\n        learns Python'

**This prints everthing after the 5 String Character in the **
``` Python
Str = """ Swayam Terode

            learns Python"""
```

# Python List
List is an ordered sequence of items. It is one of the most used datatype in Python and is very flexible. All the items in a list do not need to be of the same type. 

Declaring a list is, Items separated by commas are enclosed within brackets [ ].

In [10]:
a=[10,2.65,"Swayam"]
print(a[ -1])

Swayam

In [11]:
a=[10,2.65,"Swayam"]
print(a[1])

2.65

In [12]:
a=[10,2.65,"Swayam"]
print(a[0])

10

**List are mutable** ,meaning ,value of elements of a list can be altered.

In [13]:
print(a)

[10, 2.65, 'Swayam']

# Python Tuple
Tuple is an ordered sequence of items same as list. The only difference is that are immutable. **Tuples once created cannot be modified**.

In [14]:
Tuple=(1,2.5,6)
print(Tuple[1])

2.5

In [15]:
Tuple[1]=58.4

TypeError: 'tuple' object does not support item assignment

### TypeError: 'tuple' object does not support item assignment

# Python Set
**Set** is an unordered collection of unique items. Set is defined by values seperated by **comma inside brace{ }**. Items in a set are not ordered.

In [16]:
a={1,2.5,2}
print(type(a))

<class 'set'>

We can perform set operation like union,intersection on two sets. Sets have unique value.

In [17]:
s={10,20,20,30,30,30}
print(s)

{10, 20, 30}

Performs same as set which we have studied in our 12th.

In [18]:
print(s[1])
#We can't perform set operation like union,intersection on two sets.Set have unique values.

TypeError: 'set' object is not subscriptable

# Python Dictionary
Dictionary is an unodered collection of key-value pairs.

In Python, dictionaries are defined with braces{ }with each item being a pair in the form key:Value.
Key and value can be of two types.

In [19]:
d={'a':"apple",'b':"bat"}
print(d['a'])

apple

In [20]:
d={'a':"apple",'b':"bat"}
print(d['b'])

bat

In [21]:
d={'a':"apple",'b':"bat"}
print(d['c'])

KeyError: 'c'

Since we have not defined the key of 'c' it shows the KeyError: 'c'.

# Conversion between Datatypes
We can convert between different data types by using different type Conversion function like int(),float(),str() etc.

In [22]:
float(5)

5.0

Converts integer to float using float( ).

In [23]:
int (6.88)

6

Converts float ot int using int( ).

In [24]:
str(58)

'58'

Converts int to String  using str( )

Converison to and form string must contain compatible values.

In [25]:
int('45swayam')

ValueError: invalid literal for int() with base 10: '45swayam'

***The above code is an boundary case*** 

It is not possible to convert **swayam** into int.

therefore we get,
** ValueError: invalid literal for int() with base 10: '45swayam' **

In [26]:
user="Swayam"
lines=100
print("Congratulations " + user + "! you just wrote "+ str(lines)+" lines of code")

Congratulations Swayam! you just wrote 100 lines of code

***Lets write one code with error and see the output of it.  ***

In [27]:
user="Swayam"
lines=100
print("Congratulations " + user + "! you just wrote "+lines+" lines of code")

TypeError: can only concatenate str (not "int") to str

We can convert one sequence to other.

Example:

In [28]:
a=[1,2,3]
print(type(a))
s= set (a)
print(type(s))

<class 'list'>
<class 'set'>

In [29]:
list("hello User")

['h', 'e', 'l', 'l', 'o', ' ', 'U', 's', 'e', 'r']